@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
    font-family: sans-serif;
    background-color: #1d1d1d;
    color: #fff;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    display: flex;
    justify-content: center;
    height: 1.2em;
    width: 10em;
    border-bottom-style: solid;
    letter-spacing: 3px;
}

.container h3 {
    margin-top: 0;
    height: 1em;
    font-size: 20px;
    letter-spacing: 3px;
}

.book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 400px;
}

.book-cover {
    background-image: url("https://books.google.com/books/content?id=Wfan6L9RGgYC&printsec=frontcover&img=1&zoom=2&edge=curl&imgtk=AFLRE72WfQ9QTc7zT5DJ8FueMGiij6XL5u0PvwoM7VmOyzf_oHsGJb3XX4sBg1hCk_54GbD1Ygz9y8FbGJCX_QA8DBS9awZjtvq1yUYdR1mFr7b60QKvh8BjbbusALiiAxqOruipTdmM&source=gbs_api");
    height: 380px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.589), 0 6px 20px 0 rgba(0, 0, 0, 0.486);
    border-radius: 20px;
}

.authors {
    letter-spacing: 3px;
    margin-top: 1em;
}

.description-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100vw;
}

.description-container {
    width: 700px;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(68, 68, 68);
    padding: 20px;
    margin-bottom: 20px;
    padding-top: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.589), 0 6px 20px 0 rgba(0, 0, 0, 0.486);
}

.details-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
    height: 40em;
}

.details-box {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0;
}

.details-box p {
    margin-left: .8em;
}

.details-box a {
    color: rgb(68, 134, 255);
    margin-left: .8em;
    text-decoration: none;
}


/*---------RATINGS*/

.userRating {
    font-size: 20px;
    letter-spacing: 3px;
}


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,

/* show gold star when clicked */

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    color: #FFED85;
}